<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Ingresar</h2>
    
    
    <!-- Login Form -->
      <form>
        <input type="text"  class="fadeIn second" name="username"
         placeholder="Correo"
         autofocus=""
         [(ngModel)]="Usuario"
         
    >
        <input type="password" name="password" 
        placeholder="Contraseña" required=""
         class="fadeIn third"
         [(ngModel)]="Clave"> 
      
        </form>

        
        <div class="form-group buttons">
          <button type="submit" (click)="autenticar()" >Login</button>
          <button type="submit" (click)="desautenticar()" >DesAutenticar</button>
        </div>


    


    </div>
  </div>