<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Formulario Programaciones</title>
     <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="programaciones.component.css">

</head>
<body>

    <h2>{{Titulo}}</h2>
    <div class="form-container">
        <div class="form-group">
            <label for="programacionId">Programacion ID:</label>
            <input id="programacionId" [(ngModel)]="programacionId" type="text" />
        </div>

        <div class="form-group">
            <label for="usuarioId">Usuario ID:</label>
            <input id="usuarioId" [(ngModel)]="usuarioId" type="text" />
        </div>
       

        <div class="form-group">
            <label for="estadoProgramacion">Estado Programacion:</label>
            <select id="estadoProgramacion" [(ngModel)]="estadoProgramacion">
                <option value="Pendiente">Pendiente</option>
                <option value="Aprobada">Aprobada</option>
                <option value="Denegada">Denegada</option>
            </select>
        </div>

        <div class="form-group">
            <label for="solicitudId">solicitud Id:</label>
            <input id="solicitudId" [(ngModel)]="solicitudId" type="text" />
        </div>

        <div class="form-group buttons">
            <button (click)="actualizarProgramacion($event)">Actulizar Programacion</button>
            <button (click)="borrarProgramacion()">Borrar Progrmacion</button>

        </div>
    </div>


    <table class="table">
        <thead>
          <tr>
            <th>programacionId</th>
            <th>usuarioId</th>
            <th>estadoProgramacion</th>
            <th>solicitudId</th>
            <th>actualizadoEn</th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Programacion of Programaciones()" (click)="seleccionarProgramacion(Programacion)">
            <td>{{ Programacion.ProgramacionId }}</td>
            <td>{{ Programacion.UsuarioId }}</td>
            <td>{{ Programacion.EstadoProgramacion }}</td>
            <td>{{ Programacion.SolicitudId }}</td>
            <td>{{ Programacion.ActualizadaEn }}</td>
          </tr>
        </tbody>
    </table>

</body>
</html>