<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Formulario Cliente</title>
     <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="empleados.component.css">

</head>
<body>

    <h2>{{Titulo}}</h2>
    <div class="form-container">
        <div class="form-group">
            <label for="empleadoId">Empleado ID:</label>
            <input id="empleadoId" [(ngModel)]="empleadoId" type="text" />
        </div>

        <div class="form-group">
            <label for="nombreEmpleado">Nombre de Empleado</label>
            <input id="nombreEmpleado" [(ngModel)]="nombreEmpleado" type="text" />
        </div>

        <div class="form-group">
            <label for="telefonoEmpleado">Telefono Empleado</label>
            <input id="telefonoEmpleado" [(ngModel)]="telefonoEmpleado" type="text" />
        </div>


        <div class="form-group buttons">
            <button (click)="agregarEmpleado($event)">Agregar Empleado</button>
            <button (click)=" actualizarEmpleado($event)">Actualizar Empleado</button>
            <button (click)="borrarEmpleado()">Borrar Empleado</button>

        </div>
    </div>

    <pre>
        <code>
            {{ Empleados() | json }}
        </code>
    </pre>

</body>
</html>
