<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Formulario Solicitudes</title>
     <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="solicitudes.component.css">

</head>
<body>

    <h2>{{Titulo}}</h2>
    <div class="form-container">
        <div class="form-group">
            <label for="solicitudId">Solicitud Id:</label>
            <input id="solicitudId" [(ngModel)]="solicitudId" type="text" />
        </div>

        <div class="form-group">
            <label for="fechaCita">Fecha para la cita</label>
            <input id="fechaCita" [(ngModel)]="fechaCita" type="date" />
            <script>
                // JavaScript opcional si deseas hacer algo con la fecha seleccionada
                document.getElementById('fechaCita').addEventListener('change', function() {
                    var fechaSeleccionada = this.value;
                    console.log('Fecha seleccionada:', fechaSeleccionada);
                });
            </script>

        </div>

        <div class="form-group">
            <label for="comentarioSolicitud">Comentario para la solicitud</label>
            <input id="comentarioSolicitud" [(ngModel)]="comentarioSolicitud" type="text" />
        </div>

        <div class="form-group">
            <label for="clienteId">Cliente Id</label>
            <input id="clienteId" [(ngModel)]="clienteId" type="text" />
        </div>

        <div class="form-group">
            <label for="servicioId">Servicio:</label>
            <select id="servicioId" [(ngModel)]="servicioId">
                <option value="1">Construcción General (Comercial y Residencial)</option>
                <option value="2">Remodelación (Comercial y Residencial)</option>
                <option value="3">Pintura</option>
                <option value="4">Sistemas Eléctricos</option>
                <option value="5">Comunicación y Redes</option>
                <option value="6">Sistema de bombeo</option>

            </select>
        </div>



        <div class="form-group buttons">
            <button (click)="agregarSolicitud($event)">Agregar Solicitud</button> 
            <button (click)="actualizarSolicitud($event)">Actualizar Solicitud</button> 
            <button (click)="borrarSolicitud()">Borrar Solicitud</button> 
         
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th>Solicitud Id</th>
            <th>Fecha Solicitud</th>
            <th>Fecha Cita</th>
            <th>Comentario</th>
            <th>Cliente Id</th>
            <th>Servicio Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Solicitud of Solicitudes()" (click)="seleccionarSolicitud(Solicitud)">
            <td>{{ Solicitud.SolicitudId }}</td>
            <td>{{ Solicitud.FechaSolicitud }}</td>
            <td>{{ Solicitud.FechaCita }}</td>
            <td>{{ Solicitud.ComentarioSolicitud }}</td>
            <td>{{ Solicitud.ClienteId }}</td>
            <td>{{ Solicitud.ServicioId }}</td>
          
          </tr>
        </tbody>
    </table>

</body>
</html>